body {
	background-color: #0A24A9;
	}
#image {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	}
#ring {
	background-color: transparent;
	border-color: transparent;
	position: fixed;
	top: 150px;
	left: 550px;
	height: 150px;
	width: 150px;
	}
div.sisemine {
	border-radius: 50%;
	position: absolute;
	}
div:nth-child(1) {
	height: 100%;
	width: 100%;
	background-color: white;
	border: solid;
	border-color: white;
	left: 0%;
	top: 0%;
}

div:nth-child(2) {
	height: 90%;
	width: 90%;
	background-color: red;
	border: solid;
	border-color: red;
	left: 5%;
	top: 5%;
}

div:nth-child(3) {
	height: 70%;
	width: 70%;
	background-color: white;
	border: solid;
	border-color: white;
	left: 15%;
	top: 15%;
}

div:nth-child(4) {
	height: 50%;
	width: 50%;
	background-color: red;
	border: solid;
	border-color: red;
	left: 25%;
	top: 25%;
}

div:nth-child(5) {
	height: 30%;
	width: 30%;
	background-color: white;
	border: solid;
	border-color: white;
	left: 35%;
	top: 35%;
}

div:nth-child(6) {
	height: 10%;
	width:10%;
	background-color: red;
	border: solid;
	border-color: red;
	left: 45%;
	top: 45%;
}
p {
	z-index: 10;
	position: fixed;
	left: 550px;
	bottom: 0px;	
	}