body {
	background-color: powderblue;
	text-align: center;
}
div.color {
	background-color: #ADD8E6;
}
#head1 {
  color: #000080;
}
ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
table, td, th {
	text-align: left;
}