body {
	margin: 0px;
	background-color: #e0eaf3;
	font-family: 'Roboto', sans-serif;
	}
	
#table {
    border-bottom-style: solid;
	border-bottom-color: rgba(123, 178, 226, 0.8);
	border-spacing: 0;
	display: inline-table;
}

#table:hover {
	background: rgba(123, 178, 226, 0.42);
	border-color: rgba(123, 178, 226, 0.42);
}

#header, #wrap {
	width: 950px;
	margin:auto;
	}

#header ul {
	list-style: none;
	margin:20px;
	padding:0px;
}

#header li {
	display: inline-block;
}

#header a {
	display: inline-block;
	padding: 5px 15px;
	color: black;
	text-decoration: none;
}

#header a:hover, #header li:hover {
	background: rgba(123, 178, 226, 0.42);
	color:red;
}

#banner, #footer {
	background: rgba(123, 178, 226, 0.42);
	text-align: center;
	border-width: 4px 0px;
	border-style: solid;
	border-color: rgba(123, 178, 226, 0.8);

}

#banner img {
	vertical-align: bottom;
	width: 950px;
}


#valid {
	margin-top:100px;
	text-align: center;
}

form label {
	display: block;
}

form p { 
	margin: 5px auto;
	display: inline-block;
	text-align: center;
}

.popup-position{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}

#popup-wrapper{
	width: 120px;
	margin: 70px auto;
	text-align: center;
}

#popup-container{
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

input, select, textarea {
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif
}

input.logi {
    width: 20%;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif
}

input[type=submit] {
    width: 20%;
    background-color: rgba(123, 178, 226, 0.42);
    padding: 8px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: 'Roboto', sans-serif
}