<div id="wrap">

	<h3>Analüüside koontabel</h3>
	
	<?php if (!empty($valdkonnad)):
	foreach($valdkonnad as $id_vk => $valdkond):
	?>
	<p>&nbsp;</p>
	<table id="table">
		<tr>
			<td width="250"><b><?php echo $id_vk;?></b></td>
			<td width="100"><b>Lühend</b></td>
			<td width="100"><b>Uuritav materjal</b></td>
			<td width="80"><b>Proovinõu</b></td>
			<td width="340"><b>Uuritava materjali säilitamine</b></td>
			<td width="80"><b>HK Kood</b></td>
		</tr>
	</table>
		
		<?php foreach($valdkond as $id => $analuut): ?>
		<table id="table">
			<tr>
				<td width="250"><a href="<?php echo $analuut['aadress'];?>"><?php echo $analuut['an'];?></a></td>
				<td width="100"><?php echo $analuut['luhend'];?></td>
				<td width="100"><?php echo $analuut['pm'];?></td>
				<td width="80"><a href="?page=vaakumkatsutid"><img src = "<?php echo $analuut['pn_t'];?>" alt="<?php echo $analuut['an'];?>" width="50%" height="50%"></a></td>
				<td width="340"><?php echo $analuut['sailivus'];?></td>
				<td width="80"><?php echo $analuut['hk'];?></td><br/>
			</tr>
		</table>
		<?php endforeach; ?>
	<?php 
	endforeach;
	endif;
	?>
	
</div>