<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>MedLab</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="popup.js"></script>
</head>
<body>

<div id="header">
	<ul>
		<li><a href="?page=pealeht">Pealeht</a></li>
		<li><a href="?page=analuusid">Analüüsid</a></li>
		<li><a href="?page=vaakumkatsutid">Vaakumkatsutid</a></li>
		<?php if(isset($_SESSION['username'])): ?>
			<li><a href="?page=sisestamine">Sisestamine</a></li>
			<li><a href="?page=logout">Logi välja</a></li>
		<?php else: ?>
			<li><a href="?page=login">Logi sisse</a></li>
		<?php endif; ?>
	</ul>
	
</div>
<div id="banner">
	<img src="views/banner1.jpg" alt="banner">
</div>
