<div id="wrap">

	<h3>Analüüside koontabel</h3>
	
	<!-- Tabeli pealkirjade kuvamine -->
	<?php if (!empty($valdkonnad)):
	foreach($valdkonnad as $id_vk => $valdkond):
	?>
	<p>&nbsp;</p>
	<table class="table">
		<tr>
			<td class="vk"><b><?php echo $id_vk;?></b></td>
			<td class="luhend"><b>Lühend</b></td>
			<td class="pm"><b>Uuritav materjal</b></td>
			<td class="pn"><b>Proovinõu</b></td>
			<td class="sailivus"><b>Uuritava materjali säilitamine</b></td>
			<td class="hk"><b>HK Kood</b></td>
		</tr>
	</table>
		
		<!-- Tabeli sisu kuvamine -->
		<?php foreach($valdkond as $id => $analuut): ?>
		<table class="table">
			<tr>
				<td class="vk"><a href="<?php echo $analuut['aadress'];?>"><?php echo $analuut['an'];?></a></td>
				<td class="luhend"><?php echo $analuut['luhend'];?></td>
				<td class="pm"><?php echo $analuut['pm'];?></td>
				<td class="pn"><a href="?page=vaakumkatsutid"><img src = "<?php echo $analuut['pn_t'];?>" alt="<?php echo $analuut['an'];?>" width="40" height="50"></a></td>
				<td class="sailivus"><?php echo $analuut['sailivus'];?></td>
				<td class="hk"><?php echo $analuut['hk'];?></td>
			</tr>
		</table>
		<?php endforeach; ?>
	<?php 
	endforeach;
	endif;
	?>
	
</div>