<div id="wrap">
	<h3>Meditsiiniline labor</h3>
	<p>Tere tulemast meditsiinilise labori kodulehele. Siin saad leida informatsiooni MedLab laboris teostatavate analüüside kohta</p>
	<p>Analüüside koondtabel asub <a href="?page=nimekiri">analüüside</a> lehel.</p>
	<p>Analüüsid teostatakse erinevatest proovimaterjalidest. Proovimaterjalide informatsiooni saab leida <a href="?page=proovinoud">vaakumkatsutite</a> lehel.</p>
	<p>Uusi analüüse sisestab isik, kellele on antud vastavad paroolid sisselogimiseks.</p>
	<p>Analüüside nimetused ja nende andmed võetakse kodulehelt <a href="http://synlab.ee/">synlab.ee</a></p>
</div>