<div id="wrap">

	<h3>Vaakumkatsutite nimekiri</h3>
	
	<?php if (!empty($vaakumkatsutid)):
	foreach($vaakumkatsutid as $id => $katsuti):
	?>
	
	<div id="<?php echo $katsuti['varv'];?>" class="popup-position">
		<div id="popup-wrapper">
			<div id="popup-container">
				<p><img src="<?php echo $katsuti['katsuti'];?>" alt="<?php echo $katsuti['varv'];?>"></p>
				<p><a href="javascript:void(0)" onclick="toggle_visibility('<?php echo $katsuti['varv'];?>');">
					<span class="close">&times;</span>
				</a></p>
			</div> <!-- popup conteiner end -->
		</div> <!-- popup wrapper end -->
	</div> <!-- popup box end -->
	
	<table>
		<tr>
			<td>
				<a href="javascript:void(0)" onclick="toggle_visibility('<?php echo $katsuti['varv'];?>');">
				<img id="<?php echo $katsuti['id'];?>" src = "<?php echo $katsuti['kork'];?>" alt="<?php echo $katsuti['varv'];?>"></a>
			</td>
			<td>
				<table>
					<tr><td><b><?php echo $katsuti['varv'];?> kork:</b> <?php echo $katsuti['nimetus'];?></td></tr>
					<tr><td><b>Kasutusala: </b> <?php echo $katsuti['kasutusala'];?></td></tr>
				</table>
			</td>
		</tr>
	</table>
	
	<?php endforeach;
	endif;
	?>
	
</div>
